@model Introducao.Models.Pessoa

@{
    ViewBag.Title = "Home Page";
}

<h2>Home</h2>
<div>
    <p>
        @Model.id<br />
        @Model.nome<br />
        @Model.usuario
    </p>
    <form action="Home/Lista" method="POST">
        <fieldset>
            <legend>Informações Pessoa</legend>

            <div>
                <label for="id">Nome</label>
                <input type="text" value="@Model.nome" name="nome" />
            </div>
            <div>
                <label for="id">Codigo Tipo</label>
                <input type="number" value="@Model.codTipo" name="codTipo" />
            </div>
            <input type="submit" value="Enviar" />
        </fieldset>
    </form>
</div>
