@model Introducao.Models.Pessoa

@{
    ViewBag.Title = "Home Page";
}

<h2>Home Index</h2>

<div>
    <p>
        @Model.id<br />
        @Model.nome<br />
        @Model.usuario
    </p>
    @using (Html.BeginForm("Lista", "Home", FormMethod.Post)) {
        <fieldset>
            <legend>Informações Pessoa</legend>

            <div>
                @Html.LabelFor(x => x.nome)
                @Html.EditorFor(x => x.nome)
            </div>
            <div>
                @Html.LabelFor(x => x.codTipo)
                @Html.EditorFor(x => x.codTipo)
            </div>
            <input type="submit" value="Enviar" />
        </fieldset>
    }
</div>
