@model Introducao.Models.Pessoa

@{
    ViewBag.Title = "Lista";
}

<h2>Lista</h2>
<p>
    <b>@Html.LabelFor(x => x.id):</b>
    @Model.id<br />
    <b>@Html.LabelFor(x => x.nome):</b>
    @Model.nome<br />
    @Html.LabelFor(x => x.usuario):
    @Model.usuario
</p>

